[2021-05-19 18:29] ryannair05 opened #2 "Crashes Youtube App shortly after opening"
Device: iPhone 11 Pro Max, iOS 13.5
Bundle version: 16.19.6

Exception type: NSInvalidArgumentException
Reason: -[YTPlayerPIPController initWithPlayerView:delegate:]: unrecognized selector sent to instance 0x28328bf40

Note: This issue can not be reproduced on iOS 14+

[2021-05-21 02:13] PoomSmart commented on #2
Fixed, but it is a known issue that native PiP doesn't work yet on iOS 13 and lower. Check `Compat.xm` for development progress.

[2021-05-21 02:13] #2 closed

[2021-05-21 14:15] lgariv opened #4 "YouTube app hangs"
I really can't find the reason for it, the logs doesn't show anything useful (unless I overlooked something?), but when I compile the [latest commit](https://github.com/PoomSmart/YouPIP/tree/e94afaaa33ffd7d1795bb260d3a51cbb47ef0d51) and install it on my device, the YouTube app hangs as soon as something starts to play.

Everything works correctly with the [previous commit](https://github.com/PoomS

[2021-05-22 01:54] PoomSmart commented on #4
Try removing ARC flag in Makefile.

[2021-05-22 12:36] BitGrub opened #5 "Youtube crashes when casting video"
Here's my log https://pastebin.com/086qC9S6

Can't get around the crash without disabling/uninstalling YouPip

[2021-05-22 14:31] lgariv commented on #4
That did it. Interesting...

[2021-05-22 14:31] #4 closed

[2021-05-22 14:32] lgariv commented on #5
iOS version? YouTube version? Which jailbreak are you using?

[2021-05-22 15:53] BitGrub commented on #5
First 5 lines of the log.

Iphone 7, ios14.5.1, checkra1n.

I just updated to the latest youtube app (even though I think updating that app is moronic) and Youtube still crashes when connecting to a cast-able device (tried PS4 and Roku2)

[2021-05-22 20:57] PoomSmart commented on #5
YouTube version (15.49) is too old.

[2021-05-22 21:08] PoomSmart commented on #5
Need the crash log from when you have the true latest version of YouTube.

[2021-05-22 22:26] BitGrub commented on #5
Gotchu https://pastebin.com/TasxtTNi

Though the error is the same

[2021-05-23 02:07] PoomSmart commented on #5
@BitGrub Does this build fix your problem?

[com.ps.youpip_0.0.13_iphoneos-arm.deb.zip](https://github.com/PoomSmart/YouPIP/files/6527412/com.ps.youpip_0.0.13_iphoneos-arm.deb.zip)

[2021-05-23 08:07] BitGrub commented on #5
Unfortunately with that version of YouPip it crashes about half a second after launching the youtube app.
This time, only CrashReporter made a log (previously I was getting them from Cr4shed)

[2021-05-23 08:58] PoomSmart commented on #5
@BitGrub Can you try this one?

[com.ps.youpip_0.0.13_iphoneos-arm.deb.zip](https://github.com/PoomSmart/YouPIP/files/6527800/com.ps.youpip_0.0.13_iphoneos-arm.deb.zip)

[2021-05-23 09:58] BitGrub commented on #5
It works! Much appreciated

[2021-05-23 10:24] #5 closed

[2021-05-28 11:38] DragRedSim opened #6 "Inconsistent behaviour when jumping in and out of YT app using restore icon on video window"
Activate PIP, home out, return to app using icon, home out again: works (same applies for using app switcher)
Activate PIP, home out, return to app using video restore icon, home out again: does not work, video continues to play audio but not display the video. To fix, need to return to YT app and then leave again.

[2021-06-02 06:11] 3xtc opened #7 "Error please fix"
If you go into pip mode and enter another app then click the x to close pip screen , once you re enter YouTube and press play then pip screen again it fast forwards and force closes like the video ends. Test and you will see

[2021-06-03 13:04] PoomSmart commented on #6
Fixed in 1.2.1, although YouPiP's behavior is explicitly mentioned in its Settings page. This issue could have otherwise been invalid.

[2021-06-03 15:01] DragRedSim commented on #6
v1.2.1 does not resolve this issue; I have it on “app dismiss” mode. A demonstration: https://youtu.be/O_DSl0OntqE
Sorry, I should have been clearer; the issue is when restoring the PiP video using the button in that view (as opposed to app switcher or app icon), then dismissing the YT app again.

[2021-06-10 14:06] nicknitewolf opened #8 "YouPiP sideloaded version"
Not sure whether it is ideal maintaining 2 versions of youpip. In this version: https://github.com/nicknitewolf/YouPiP/commit/818a44fe1407a24afb11e01bb81249415b3bfd02 , I killed the pip button overlay as sideloaded ipa's do not support preference loader.

[2021-06-10 16:25] PoomSmart commented on #8
You can fork a new branch called something like `sideloaded` and get rid of unrelated things.

[2021-06-10 16:34] PoomSmart commented on #8
If you want, I can branch out from the master and you can create a PR that targets this new branch.

[2021-06-10 17:23] nicknitewolf commented on #8
I'm still trying to get theos to work properly. I haven't tried compiling lol

[2021-06-11 01:51] nicknitewolf commented on #8
@lgariv I need your opinion on this: https://github.com/nicknitewolf/YouPiP/commit/a4463bb773092a527f64c6daf2c0f2e099d56862 . Does my commit fully remove the speed up fix hack?

[2021-06-11 02:50] PoomSmart commented on #8
Or, I can modify the master branch to `#ifdef` out the unrelated code.

[2021-06-11 04:09] nicknitewolf commented on #8
I think an ifdef with a build flag would work. Btw how does theos packaging work? I cant seem to get a compatible deb file compiled

[2021-06-11 04:29] PoomSmart commented on #8
@nicknitewolf What's the error you are getting?

[2021-06-11 05:16] nicknitewolf commented on #8
dpkg-deb error: path/to/.deb is not a Debian format archive

[2021-06-11 09:44] PoomSmart commented on #8
macOS or iOS - the platform that you used for building tweaks? @nicknitewolf

[2021-06-11 10:21] nicknitewolf commented on #8
WSL2

[2021-06-11 11:33] PoomSmart commented on #8
Why would you use WSL...

[2021-06-11 11:38] nicknitewolf commented on #8
I don't have a mac or a jailbroken iphone atm. Besides isn't WSL 2 a supported workflow by theos?

[2021-06-11 12:08] PoomSmart commented on #8
Well yes but in terms of compatibility I understand that it's no match for macOS.

Do you just want the dylib for sideloading? Because then I can compile it for you.

[2021-06-11 13:23] nicknitewolf commented on #8
Eh I can't really test creating a sideloadable ipa. Someone else is helping me patch. Seems like all the injection tools rely on macos

[2021-06-11 14:18] PoomSmart commented on #8
Then they can probably get you a working sideloaded IPA by compiling from the latest YouPiP source code. I have updated it so that it's easier for them.

[2021-06-12 06:12] calvincorrieri opened #10 "What is the newest version of the YouTube app is compatible with YouPiP v1.2.2?"
Can you please include the version(s) of the YouTube app that each release is compatible with? It would make it much easier to figure out than just finding a bunch of posts saying “X tweak works with the newest version of YouTube” but that’s from three months ago so it’s no help. I’m getting off track, sorry. I’d just really appreciate (and I know others would to) if you put the YouTube app versio

[2021-06-12 06:32] PoomSmart commented on #10
![image](https://user-images.githubusercontent.com/3608783/121767441-6f64dc00-cb82-11eb-88a6-3951bf9fb198.png)

0.0.8: 15.47
0.0.9: 16.17
0.0.11 - 1.2.1: 16.17+
1.2.2: 15.22.4+

[2021-06-12 16:07] nicknitewolf opened #12 "PiP breaks when setting a playback speed"
Steps to reproduce:
1. Use the 'Start PiP automatically' setting
2. Set playback to other than 1x (0.25x, 0.5x, 0.75x, 1.25x, 1.5x, 2x)
3. Swipe to home (to start PiP)
4. PiP video will either stop playing the video, jitter a lot, or audio cuts intermittently

Seems to be happening most of the time but works perfectly sometimes.

[2021-06-12 19:05] calvincorrieri commented on #10
Thank you 🙏

[2021-06-13 04:14] PoomSmart commented on #10
Changelogs annotated.

[2021-06-13 04:14] #10 closed

[2021-06-13 13:44] PoomSmart commented on #6
@DragRedSim How about version 1.3.0?

[2021-06-13 13:45] PoomSmart commented on #7
Mitigated in 1.3.0

[2021-06-13 13:45] #7 closed

[2021-06-13 13:45] PoomSmart commented on #12
How is it with version 1.3.0?

[2021-06-13 14:02] nicknitewolf commented on #12
I’m not sure if I’m understanding what your latest patch does. Do I have to enable legacy pip?

[2021-06-13 14:08] PoomSmart commented on #12
Yes, well. Just to see if the legacy PiP addresses your issue, while the main issue here, is iOS itself and not YouPiP.

[2021-06-13 14:13] nicknitewolf commented on #12
Very odd. Honestly I'd wait for apple to update avkit to fix the issue since I'm currently running ios 15 sideloaded (which will not trigger compat mode)

[2021-06-13 14:19] nicknitewolf commented on #12
Wait compatibility mode is enabled by default right? https://github.com/PoomSmart/YouPiP/blob/main/Compat.xm#L9
So the sideloaded version will have it enabled?

[2021-06-13 14:34] nicknitewolf commented on #12
nvm this should do it https://github.com/nicknitewolf/YouPiP/commit/381f5149c673b03531f73c7f069462ac4562a2f4

[2021-06-13 14:46] nicknitewolf commented on #12
My bad https://github.com/nicknitewolf/YouPiP/commit/5e58023432eb37229ab845f74f54265965154e6b

[2021-06-13 15:50] shayshtern opened #13 "PiP While The Device Is Locked:"
Can you add this option to keep it play while the device is locked or on the lock screen?

Thank you.

[2021-06-13 21:33] piotrekk0 opened #14 "Youtube crashed by YouPiP"
"-[MLPIPController initWithPlaceholderPlayerItemResourcePath:]: unrecognized selector sent to instance 0x282dfe220"

[2021-06-13 22:56] nicknitewolf commented on #12
Yep legacy pip works perfectly. Sucks that it breaks ytuhd

[2021-06-13 22:56] #12 closed

[2021-06-14 00:11] PoomSmart commented on #14
Which YouTube version?

[2021-06-14 03:20] qnblackcat opened #15 "PiP crashes when going to the next video."
**Device Information:**
- iOS Version: iPhone 6s - iOS 14.3.
- Jailbreak type: checkra1n/Substitute (2.1.0).
- YouPiP Version: 1.3.0 (Legacy mode enabled).
- YouTube version: 16.22.5 with AutoPlay is on.
- Active Method: On app dismiss.

**How to reproduce:** The video is too big for Github. I uploaded it here: [Drive](https://drive.google.com/file/d/1V-hKjOXrEWd4guqOsIZ-bkhtr1LN6wA2/view?usp=shar

[2021-06-14 06:08] piotrekk0 commented on #14
15.49.6

[2021-06-14 06:26] nicknitewolf commented on #13
This doesn’t seem like its possible. Default iOS behaviour stops PiP playback when screen is locked. (See safari)

[2021-06-14 13:45] PoomSmart commented on #15
Does this happen on YouTube version 16.23.2 as well?

[2021-06-14 13:50] PoomSmart commented on #14
Fixed in 1.3.1

[2021-06-14 13:50] #14 closed

[2021-06-14 13:55] qnblackcat commented on #15
Yes. It does happen on YouTube v16.23.2.

[2021-06-14 14:35] PoomSmart commented on #15
As bizarre as it sounds, I have
- iPhone SE (1st gen) iOS 14.6
- checkra1n/Cydia Substrate 0.9.7113
- YouPiP 1.3.1, legacy mode enabled
- YouTube version 16.23.2 with AutoPlay on
- Activation Method: On app dismiss

But I don't face that issue.

[2021-06-14 15:10] qnblackcat commented on #15
So it must be tweak conflicts.
I did some tests. Turn out Cercube is the bad guy. I disabled Cercube in YouTube (using Choicy). PiP no longer crashes when going to the next video.
I use Cercube 5.2.24 from Alfhaily's repo with my Cercube premium account.
Anyways, it is not your fault. Thank you for making YouPiP

[2021-06-14 15:29] qnblackcat commented on #15
not related but I got this error while trying to compile YouPiP v1.3.1
![Screen Shot](https://user-images.githubusercontent.com/52943116/121917993-d4295d80-cd5f-11eb-88db-1ed513335219.png)

[2021-06-14 16:17] PoomSmart commented on #15
@qnblackcat Pull the latest changes from PSPrefs repo.

[2021-06-14 16:23] PoomSmart commented on #13
Potentially out of scope of YouPiP. Think of this as another tweak that forces PiP on the lock screen or something.

[2021-06-14 16:23] #13 closed

[2021-06-16 03:09] Logs22 opened #18 "Crashes when using button PIP, and No pip in legacy mode"
iPad OS 14.3, YT 16.23.3, YouPiP 1.3.1, 6th gen iPad, Odysseyra1n

Hi, I've had this issue with changing the mode from dismiss to click for a while now map but haven't gotten around to submitting a bug report. (Sorry about that) here is a log with that issue

https://pastebin.com/5RaRehz0

The other issue, when using legacy mode, pip does not activate for me. Reading the description it sounds like

[2021-06-16 11:51] PoomSmart commented on #18
@Logs22 Could you test this version of YouPiP?
[com.ps.youpip_1.3.2_iphoneos-arm.deb.zip](https://github.com/PoomSmart/YouPiP/files/6662750/com.ps.youpip_1.3.2_iphoneos-arm.deb.zip)

[2021-06-16 14:05] Logs22 commented on #18
That fixed both issues!

[2021-06-16 17:22] #18 closed

[2021-06-19 17:37] nicknitewolf opened #19 "Show YouTube’s default PiP"
It seems like YouTube has announced official support for PiP. Not sure if it’s possible to force enable it as the option has shown up for some people.

https://imgur.com/a/cf2pTuM

[2021-06-20 02:27] PoomSmart commented on #19
Do you know what YouTube version is that?

[2021-06-20 12:28] nicknitewolf commented on #19
16.23.3, but it seems like google is A/B testing it cos the menu disappears when I restart the app.

[2021-06-26 16:40] qnblackcat commented on #15
More specific: PiP will not crash if I don't use Cercube Default Quality.

[2021-06-27 08:32] PoomSmart commented on #19
Done as of 1.3.4

[2021-06-27 08:32] #19 closed

[2021-06-27 15:51] nicknitewolf opened #21 "Background Playback breaks"
Trying to continue background playback (from control centre) after closing PiP breaks audio stream

iOS 15b2
Using Modern PiP
YouPiP 1.4.1

[2021-06-27 16:40] nicknitewolf commented on #21
https://user-images.githubusercontent.com/6513413/123552593-6d696280-d7a9-11eb-97e4-bd4517f705b2.MOV

[2021-06-28 00:25] PoomSmart commented on #21
Crash log? YouTube version?

[2021-06-28 02:02] nicknitewolf commented on #21
Doesn’t seem to have a crash log. Its on YouTube 16.24.2

[2021-06-28 03:23] PoomSmart commented on #21
@nicknitewolf Can you try YouPiP 1.4.2?

[2021-06-28 04:55] PoomSmart commented on #18
@Logs22 May I ask were there any other YouTube tweaks when YouTube was crashing?

[2021-06-28 05:07] Logs22 commented on #18
I did have Youtopia, but I tested with YouTube completely stock as well and only YouPIP and still had crashing

[2021-06-28 05:20] PoomSmart commented on #18
Ok, bizarre.

[2021-06-28 08:21] nicknitewolf commented on #21
Still the same.

[2021-06-28 08:50] PoomSmart commented on #21
@nicknitewolf and does YouPiP 1.3.4 work for you?

[2021-06-28 09:28] nicknitewolf commented on #21
1.3.4 works but sometimes it will trigger the bug. It happens more consistently with 1.4.0 with all videos. Could it be a conflict with Cercube?

[2021-06-28 09:34] nicknitewolf commented on #21
Happens as well on iOS 14 on 1.4.2

[2021-07-01 15:30] qnblackcat commented on #15
@PoomSmart
Info:
- iOS 14.3 / Substitute
- YouTube 16.25.2
- Cercube 5.2.26. Default quality **enabled**.
- YouPiP 1.4.4
- Legacy PiP **disabled**
- Sample Buffer Hack **enabled**

=> With Sample Buffer Hack enabled & Cercube default quality enabled, PiP crashes when going to the next video. It doesn't happen with YouPiP v1.4.3

[2021-07-01 15:35] PoomSmart commented on #15
@qnblackcat That's very unexpected based on the changes I have made. By the way, by "crashes", does that mean the app crashes?

[2021-07-01 15:39] qnblackcat commented on #15
Only PiP crashes. The app was fine!

https://user-images.githubusercontent.com/52943116/124151815-2804a800-dabd-11eb-8ea5-f2f986c7908f.mov

[2021-07-01 15:40] PoomSmart commented on #15
And, what exactly do you mean by "Cercube Default quality enabled" ?

[2021-07-01 15:43] qnblackcat commented on #15
I mean the default quality on Wifi / Celullar in Cercube's settings.
![IMG_1316](https://user-images.githubusercontent.com/52943116/124152466-c133be80-dabd-11eb-9c0f-7aedd560ff80.jpg)

[2021-07-02 10:45] PoomSmart commented on #21
@nicknitewolf How does it look with YouPiP 1.4.5?

[2021-07-02 10:45] PoomSmart commented on #15
@qnblackcat How does it look with YouPiP 1.4.5?

[2021-07-02 11:35] qnblackcat commented on #15
@PoomSmart No more crashes but the speed-up happened again

[2021-07-02 11:37] PoomSmart commented on #15
The speedup bug is even an issue on iOS 15 but now that there's no more crashing I will close this issue. If you think the speedup bug is really because of YouPiP then please file a new issue.

[2021-07-02 11:38] #15 closed

[2021-07-02 11:52] qnblackcat opened #22 "Speed-up bug comeback in v1.4.5 - iOS 14.3 - Sample Buffer Hack enabled"
Info:
- iPhone 6s - iOS 14.3 - Substitute
- YouTube 16.25.2.
- YouPiP 1.4.5
- Legacy PiP disabled
- Sample Buffer Hack enabled

On YouPiP 1.4.4, enabled Sample Buffer Hack solved the speed-up bug. However, it makes issue #15 happened.

On YouPiP 1.4.5, you fixed issue #15, but the speed-up bug comeback even when Sample Buffer Hack is enabled. I can reproduce the speed-up bug every time.

[2021-07-03 07:41] nicknitewolf commented on #21
Does not work still. I suspect that I have triggered the speed up bug again with the SampleBufferCompat. Please refer to the video below:

https://user-images.githubusercontent.com/6513413/124347073-06b6cf80-dc15-11eb-9c43-b14c108ef773.MOV

[2021-07-03 08:17] dodieboy opened #23 "Youtube crash when opening video"
Error: Exception type: NSInvalidArgumentException Reason: -[AVPictureInPictureControllerContentSource initWithSampleBufferDisplayLayer:initialRenderSize:playbackDelegate:]: unrecognized selector sent to instance 0x283ae1500

youtube version: 16.25.2
youpip version: 1.4.5 (last working version for me is 1.4.1, 1.4.2+ will crash my youtube app)

Full error log:
[code]

[2021-07-03 10:53] PoomSmart commented on #23
[com.ps.youpip_1.4.6_iphoneos-arm.deb.zip](https://github.com/PoomSmart/YouPiP/files/6758266/com.ps.youpip_1.4.6_iphoneos-arm.deb.zip)

@dodieboy Could you try this version of YouPiP?

[2021-07-03 12:05] dodieboy commented on #23
Still crash

Exception type: NSInvalidArgumentException
Reason: -[AVPictureInPictureControllerContentSource hasInitialRenderSize]: unrecognized selector sent to instance 0x283e81460
Culprit: YouPiP.dylib

[2021-07-03 12:57] PoomSmart commented on #23
@dodieboy
[com.ps.youpip_1.4.6_iphoneos-arm.deb.zip](https://github.com/PoomSmart/YouPiP/files/6758442/com.ps.youpip_1.4.6_iphoneos-arm.deb.zip)
Try the new one.

[2021-07-03 13:20] dodieboy commented on #23
Great, it no longer crash but this happens

https://streamable.com/n81wl7

[2021-07-03 13:22] dodieboy commented on #23
Before that happens it did crash and here is the error log

-[AVPictureInPictureController setCanStartPictureInPictureAutomaticallyFromInline:]: unrecognized selector sent to instance 0x281544af0

[2021-07-03 13:25] PoomSmart commented on #23
@dodieboy Ok then how about this?
[com.ps.youpip_1.4.6_iphoneos-arm.deb.zip](https://github.com/PoomSmart/YouPiP/files/6758467/com.ps.youpip_1.4.6_iphoneos-arm.deb.zip)

[2021-07-03 15:25] dodieboy commented on #23
Exception type: EXC_BAD_ACCESS (SIGSEGV)
Exception subtype: KERN_INVALID_ADDRESS: 0x8b533abe0
Exception codes: 0x0000000000000001, 0x00000008b533abe0
Culprit: Unknown
VM Protection: 0x8b533abe0 is not in any region.

Triggered by thread: 0
Thread name: Dispatch queue: com.apple.main-thread

[2021-07-04 03:48] PoomSmart commented on #23
@dodieboy Ok now how about this?
[com.ps.youpip_1.4.6_iphoneos-arm.deb.zip](https://github.com/PoomSmart/YouPiP/files/6759348/com.ps.youpip_1.4.6_iphoneos-arm.deb.zip)

[2021-07-04 05:31] dodieboy commented on #23
Great working with no error, thank you so much for the fast fix and time spent

[2021-07-04 05:54] #23 closed

[2021-07-04 05:55] PoomSmart commented on #23
Fixed in YouPiP 1.4.6

[2021-07-07 21:28] piotrekk0 opened #24 "YouPiP (1.4.7) crashes Youtube (15.49.6)"
[<YTPlayerPIPController 0x283d84de0> valueForUndefinedKey:]: this class is not key value coding-compliant for the key _hotConfig.

[2021-07-07 21:37] #24 closed

[2021-07-07 22:41] PoomSmart commented on #24
The crash log must have been from YouPiP 1.4.6 that's why you closed the issue.

[2021-07-11 02:09] #22 closed

[2021-07-13 13:29] #21 closed

[2021-07-13 14:20] gh0sti opened #25 "ADD: YouTube System theme Appearance use Device Theme"
As of yesterday using cercube 5.2.26/youtube 16.27.3 YouTube popped up a notification that I could have theme change based on device theme. Light mode/dark mode could be enabled automatically based on if my device was in that mode.
However this morning that feature disappeared.

Is it possible similar to how the native PiP feature is being forced on can we also have System theme enabled with a fla

[2021-07-13 16:34] PoomSmart commented on #25
[code]

YTSystemAppearance tweak.

[2021-07-13 16:34] #25 closed

[2021-07-13 16:52] gh0sti commented on #25
thanks appreciate it

[2021-07-13 17:53] nicknitewolf opened #26 "In app settings"
This is more of a feature request than an issue.

Is it possible to have another area to change YouPiP’s settings in app? For example Cercube has a button that leads to its settings when you click your account picture:

![B0519DB2-38A9-4090-8F6B-B30B6216DA9F](https://user-images.githubusercontent.com/6513413/125501360-1d96fac4-32eb-441d-83cd-dcdc57e86b1b.jpeg)

[2021-07-22 12:50] #26 closed

[2021-07-24 04:39] #6 closed

[2021-07-26 03:58] 3xtc opened #27 "Not an issue"
![B6D0E908-C75A-4DF9-A3DD-50F44540449C](https://user-images.githubusercontent.com/74840505/126931168-b70766f7-0c71-4420-b0b6-daf338a3e27f.jpeg)

[2021-07-26 12:53] PoomSmart commented on #27
What?

[2021-07-26 20:40] 3xtc commented on #27
so sorry! thought I typed, where can I find this setting within the code ?

[2021-07-27 01:29] PoomSmart commented on #27
It's a native YouTube setting enabled by this portion of code in Tweak.x

[code]

[2021-07-27 01:29] #27 closed

[2021-08-14 18:25] reticivis-net opened #29 "When switching from YouTube straight to other app using dock or app manager, PiP freezes and/or speeds up."
https://user-images.githubusercontent.com/35177464/129456791-38acda52-c2fa-4894-b1a0-0d74fe6b3071.MOV

iOS 14.2, iPad Pro 11 inch 2nd generation, taurine 1.0.4, youpip 1.5.7

[2021-08-14 18:27] HexCodeFFF commented on #29
Sometimes this happens when going to the Home Screen too though I'm not entirely sure why. Seems to be more reproducible when just switching apps.

[2021-08-16 02:23] HexCodeFFF commented on #29
Fixed with the "PiP sample buffer hack" option. I **highly** reccomend you move the tweak options out of the YouTube app and into settings where they normally are so people can find them easier. At least mention it on the package page.

[2021-08-16 08:58] PoomSmart commented on #29
1. Sample Buffer Hack doesn't always solve the issue for everyone
2. I will update package depiction later to mention about that hack

[2021-08-16 16:35] HexCodeFFF commented on #29
Yeah I started having the issue again after I closed this so I'll just reopen this in the hope a permanent solution is found

[2021-10-07 01:02] pokemoncrusher1 opened #30 "(W/logs) Youtube crashing when playing video with youpip installed."
On ios 11.4.1 and yt 16.32.4
Crashes when I play a video, crashlogs show the error.
If you need me to try builds , fixes, downgrades etc for this issue please let me know and I will be willing to help you in any way I can.
thank you for all that you do.

[code]

[2021-10-09 10:42] PoomSmart commented on #30
Can't seem to reproduce the crash on iOS 14. I don't own any iOS 11 devices so here are some questions:

1. Is YouPiP the only YouTube tweak installed?
2. Does downgrading YouTube to any older version fix this?
3. From where did you install YouPiP from - and which version?

[2021-10-09 13:59] pokemoncrusher1 commented on #30
I downgraded to both pre youtube 16 and tried 15: here are my findings

After downgrade to youtube 15.10.4 and trying mid 15s - A video launches
 but now two crashes are present:
1. When I exit a video the **animation** for PIP does initialize- however the pip is black and youtube soon crashes together with the pip window.
2. When I try to access the youtube settings - youtube crashes
I have logs

[2021-10-16 18:27] #30 closed

[2021-10-27 15:12] NguyenASang opened #31 "Not working"
I have a iphone 6, iOS 12.5.5
I installed "latest version YouPIP " + "latest YouTube version" but it doesn't working
To make sure that no tweak conflict, I restored my phone then jailbreak and only install this tweak but it still doesn't working
I have a screenshot of the install's detail:

![IMG_0042](https://user-images.githubusercontent.com/87893636/139174629-57d34217-698c-492f-ba90-8595f769803

[2021-11-06 13:56] PoomSmart commented on #31
Update to 1.5.15

[2021-11-06 13:56] #31 closed

[2021-11-08 07:13] NguyenASang commented on #31
@PoomSmart Does Youtube Reborn or some such tweak conflict with this tweak?

[2021-11-08 07:14] PoomSmart commented on #31
@NguyenASang Not on its own unless YT Reborn does something weird.

[2021-11-08 07:17] NguyenASang commented on #31
@PoomSmart Can you explain it more detail, I'm not good at English and "Google Translate" translates something very weird

[2021-11-08 07:19] PoomSmart commented on #31
@NguyenASang Let's just say: YouPiP doesn't conflict with YouTube Reborn.

[2021-11-08 07:25] NguyenASang commented on #31
@PoomSmart Oh, Thanks but wait me a minute. I still have some questions :))

[2021-11-08 07:42] NguyenASang commented on #31
@PoomSmart How about YTReExplore, YTNoShorts, NoInfoYT ?

[2021-11-08 12:52] PoomSmart commented on #31
YouPiP conflicts with nothing except for its clones from elsewhere.

[2021-11-09 01:25] NguyenASang commented on #31
Okay thanks for reply, I will test it out.

[2021-11-11 06:06] NguyenASang commented on #31
No way, it still doesn't work :((
Even using Pip button or using auto Pip 🤔
And still get error when install it:
![IMG_0062](https://user-images.githubusercontent.com/87893636/141244701-c362810e-8c76-46db-a605-014d7b60c316.PNG)
Hope you can fix it.

[2021-11-11 06:12] qnblackcat commented on #31
1. The red line in your image, it’s not an error
2. Automatic PiP (native PiP) requires iOS 14.0+

[2021-11-11 06:14] NguyenASang commented on #31
How about pip button, it doesn't work

[2021-11-12 05:34] NguyenASang commented on #31
@PoomSmart Can you reopen this issue ?

[2021-11-22 06:04] NguyenASang commented on #31
@PoomSmart Are you still working on a fix?

[2021-12-08 05:32] NguyenASang opened #33 "Doesn't work on iOS 12.5.5 (more details)"
My iPhone is **iOS 12.5.5** | Jailbreak with **Chimera 1.6.4**

Install this tweak using **Sileo version 2.2.6**
### Install Log:

![IMG_0118](https://user-images.githubusercontent.com/87893636/145152138-b1cc5c38-9014-4d38-8d0c-21ab0137aadd.PNG)

### Video Test:

https://user-images.githubusercontent.com/87893636/145152715-263cba58-aae6-43a9-9971-1d4c6d431bc4.mp4

### Conflict ???
I see in **[this

[2021-12-16 13:38] PoomSmart commented on #33
@NguyenASang Can you try reinstalling ForceInPicture?

[2021-12-16 13:44] h0rn3z0r commented on #33
@PoomSmart It seems like it depends on the YouTube app version. I tried downgrading and gathered some info which might be useful for your debugging process.

My config is:
iPad Mini 2 (iOS 12.5.1, Chimera 1.6.4)
YouPiP 1.6.0, ForceInPicture 1.0

15.36.2 is the latest working version.
15.37.3 - 15.40.4 (tapping the icon does nothing)
15.41.2 - 15.49.6 (YouPiP prevents playing videos at all, `No str

[2021-12-16 13:45] NguyenASang commented on #33
I will test it.

[2021-12-16 13:47] PoomSmart commented on #33
For the record, I have PiP working just fine on iPhone 5s running iOS 12.5.4, YouTube 16.46.5, jailbroken using unc0ver 6.2.0

[2021-12-16 13:48] NguyenASang commented on #33
Still not working

[2021-12-16 13:51] NguyenASang commented on #33
@PoomSmart Can you try iOS 12.5.5 ? Maybe this error happened with this iOS version

[2021-12-16 13:53] NguyenASang commented on #33
More: now I jailbreak with unc0ver. Not Chimera anymore

[2021-12-16 15:05] PoomSmart commented on #33
Ok guys try version 1.6.1 from my repo @NguyenASang @h0rn3z0r

[2021-12-16 15:49] h0rn3z0r commented on #33
Works on my side with the latest YouTube

[2021-12-17 02:40] NguyenASang commented on #33
@PoomSmart I will test it now :))

[2021-12-17 03:40] NguyenASang commented on #33
@PoomSmart IT'S PERFECT THANKS YOU SO MUCH

[2021-12-17 03:40] #33 closed

[2021-12-17 03:44] NguyenASang opened #35 "Bug when skip ads (make YouTube crash)"
Everything I will update later cuz the pip perfect now.

[2021-12-17 03:56] PoomSmart commented on #35
When you are at it, please provide crash log.

[2021-12-17 03:59] NguyenASang commented on #35
I will provide it later, sorry I can't now.

[2021-12-17 10:16] NguyenASang commented on #35
I can't upload the crash log to the gg drive and paste it here but it says the reason is:
-[AVPictureInPictureController setRequiresLinearPlayBack:]:unrecognized selector sent to instance 0x28348b9f0

[2021-12-17 10:20] NguyenASang commented on #35
# Crash Log
Date: 12/17/21, 5:12 PM
Process: YouTube
Bundle id: com.google.ios.youtube
Device: iPhone 6, iOS 12.5.5
Bundle version: 16.46.5

Exception type: NSInvalidArgumentException
Reason: -[AVPictureInPictureController setRequiresLinearPlayback:]: unrecognized selector sent to instance 0x28348b9f0
Culprit: Unknown

Call stack:
0   CoreFoundation                      0x00000001f1f1b198 0x1f1e02

[2021-12-17 10:23] NguyenASang commented on #35
@PoomSmart Link of the crash log: https://drive.google.com/file/d/1cPqs4RoLaKklRTSYxyI6oebLW2hkZCzv/view?usp=sharing

[2021-12-17 11:13] PoomSmart commented on #35
@NguyenASang Can you try this version?
[com.ps.youpip_1.6.2_iphoneos-arm.deb.zip](https://github.com/PoomSmart/YouPiP/files/7734646/com.ps.youpip_1.6.2_iphoneos-arm.deb.zip)

[2021-12-17 11:20] NguyenASang commented on #35
@PoomSmart Okay

[2021-12-17 11:24] NguyenASang commented on #35
@PoomSmart

Still crash but this time is another reason. I will send crash log

[2021-12-17 11:26] NguyenASang commented on #35
@PoomSmart
Crash log link: https://drive.google.com/file/d/19IuHLye7CsSFFekuxJL1TtVtRNsIIFFs/view?usp=sharing

[2021-12-17 11:32] PoomSmart commented on #35
[com.ps.youpip_1.6.2_iphoneos-arm.deb.zip](https://github.com/PoomSmart/YouPiP/files/7734746/com.ps.youpip_1.6.2_iphoneos-arm.deb.zip)
@NguyenASang

[2021-12-17 11:32] NguyenASang commented on #35
@PoomSmart okay :))

[2021-12-17 11:42] NguyenASang commented on #35
@PoomSmart Why your deb make my package manager crash :/

[2021-12-17 11:42] PoomSmart commented on #35
That shouldn't be possible.

[2021-12-17 11:43] NguyenASang commented on #35
I tried another deb but only your make it crashes :/

[2021-12-17 11:44] PoomSmart commented on #35
[com.ps.youpip_1.6.2_iphoneos-arm.deb.zip](https://github.com/PoomSmart/YouPiP/files/7734802/com.ps.youpip_1.6.2_iphoneos-arm.deb.zip)
@NguyenASang Try this then.

[2021-12-17 11:44] NguyenASang commented on #35
@NguyenASang Okay

[2021-12-17 11:45] NguyenASang commented on #35
@PoomSmart Can I rename it to "com.ps.youpip_1.6.2_iphoneos-arm.deb" ?

[2021-12-17 11:48] PoomSmart commented on #35
@NguyenASang You are supposed to extract the zip to get the deb file.

[2021-12-17 11:49] NguyenASang commented on #35
now I know why it get crash :/

[2021-12-17 11:53] NguyenASang commented on #35
@PoomSmart First time, I'm waiting to see the ads :)))

[2021-12-17 11:56] PoomSmart commented on #35
@NguyenASang Videos that are popular tend to have ads.

[2021-12-17 11:58] NguyenASang commented on #35
@PoomSmart All problems solved. Thank you, pls keep work on this :))

[2021-12-17 11:58] #35 closed

[2021-12-17 12:03] NguyenASang commented on #35
Hmm, I also have some optimization request, I will open it tomorrow :)))

[2021-12-17 12:03] NguyenASang commented on #35
@PoomSmart Hmm, I also have some optimization request, I will open it tomorrow :))

[2021-12-18 09:50] NguyenASang opened #36 "The button in video (PiP) is quite slow and the menu disappears for too long"
See in the below video:

https://user-images.githubusercontent.com/87893636/146636582-4768ca94-36ee-4b24-a6c4-a3e536cc39f4.mp4

## Read this

As you can see in the video, the menu disappears for too long (and really, I think people don't need that menu to appear when enable the PiP mode, I think it only needs to appears when we click on the video)

Next, the button (such as: pause, play button,...

[2021-12-18 10:26] PoomSmart commented on #36
One thing is about the fade timeout of the PiP controls which can't be of YouPiP scope but PiP from everything. The other thing has to do with device performance or YouTube app itself not being properly optimized I would say.

[2021-12-18 10:30] NguyenASang commented on #36
@PoomSmart hmm, But Is it necessary the menu to appear when enable the PiP mode (first launch) ?

[2021-12-18 10:42] PoomSmart commented on #36
That's for Apple to answer.

[2021-12-18 10:52] NguyenASang commented on #36
🤣 Okay close now :)))))

[2021-12-18 10:52] #36 closed

[2021-12-19 08:05] NguyenASang commented on #29
@PoomSmart Any better solution for this error ?

[2021-12-19 08:12] PoomSmart commented on #29
@NguyenASang Nothing at the moment.

[2021-12-19 08:14] NguyenASang commented on #29
@PoomSmart Reopen ?

[2021-12-19 10:05] NguyenASang commented on #29
@PoomSmart Can you reopen it as it's still not fully fixed.

[2021-12-19 11:14] HexCodeFFF commented on #29
Can confirm that I've been experiencing this issue for a while now. Sample buffer hack doesn't appear to have any affect. Still on iOS 14.3

[2021-12-19 11:52] NguyenASang commented on #29
@PoomSmart What caused that error? and can i have your email? I have a few things to ask you.

[2021-12-21 01:25] NguyenASang commented on #29
@PoomSmart What caused that error?

[2021-12-21 06:24] NguyenASang commented on #29
@HexCodeFFF Does this happen when you enable pip with the pip button?

[2021-12-21 09:34] HexCodeFFF commented on #29
No, I'm not able to easily reproduce it with the pip button. Like I said in the main issue, it seems to be an issue that occurs when enabling pip as you switch apps

[2021-12-21 09:40] NguyenASang commented on #29
@HexCodeFFF You mean sometimes it happens when you use pip button but when using auto pip it always happens ?

[2021-12-21 09:41] HexCodeFFF commented on #29
It never happens with the pip button and sometimes happens with auto pip. Seemingly when you switch directly to another app the bug occurs and will keep occurring on new videos until you restart the app

[2021-12-21 09:44] NguyenASang commented on #29
@HexCodeFFF I think this happened with the "Auto pip" code. @PoomSmart Can you rewrite it ? Maybe rewrite it can help you to find the bug code.

[2021-12-21 09:50] HexCodeFFF commented on #29
If I had to guess what was going on, it seems that switching to another app or otherwise exiting YouTube right as pip has to trigger confuses it and possibly sets youtube into a mode where it's buffering video as fast as possible since it thinks it's only background playing audio. Maybe look into interrupting YouTube's exit to make sure it's properly set up for pip. Maybe ask udevs how they got Ba

[2021-12-21 09:53] NguyenASang commented on #29
@HexCodeFFF yes, I don't understand this program language so I can't be sure how it works, for now we can only hope @PoomSmart can fix this.

[2021-12-21 15:32] PoomSmart commented on #29
I myself are stuck at this also. If I had any updates then you would see an announcement. No precise ETA.

[2021-12-21 15:36] NguyenASang commented on #29
Hope this bug can be fixed soon :D

[2021-12-22 05:32] NguyenASang commented on #29
@PoomSmart How does Auto PiP work? Detect swipe up gesture?

[2021-12-22 06:41] HexCodeFFF commented on #29
Likely works on app exit event or adapts YouTube to work for the already existing PiP in iOS

I haven't tested it on iPhone especially cause native pip for iPhone is an experimental YouTube feature so there might be code to make it work there

[2021-12-22 06:46] NguyenASang commented on #29
@HexCodeFFF Can you test it on iPhone? If my thinking is correct, the problem is not with the iPhone.

[2021-12-22 14:06] NguyenASang commented on #29
@PoomSmart Does the error occur with iPhone when use auto PIP?

[2021-12-25 06:31] NguyenASang commented on #29
@PoomSmart @HexCodeFFF I think problem with iPad, reason:
In iPhone you can swipe up to go back to main page (code already supports that). But in iPad when swiping up, it doesn't go back to the main page (it will show pinned apps list) and when you select the app you want to open (pip will get confused because the code don't have this case) then it will speed up or freeze. So we need to write code

[2021-12-25 19:08] HexCodeFFF commented on #29
I reproduced the glitch on iPhone. You have to tap on a notification while a video is playing.

https://user-images.githubusercontent.com/35177464/147391920-7af65904-cf10-4461-90a2-6787281b91c1.MOV

[2021-12-26 01:05] NguyenASang commented on #29
@HexCodeFFF This problem I think caused by suddenly switch to another app. Does the code support this case @PoomSmart ?

[2021-12-31 23:09] HexCodeFFF commented on #29
Update: the glitch happened while using the pip button :/

[2022-01-01 02:16] NguyenASang commented on #29
Weird moment :// We stuck here :|

[2022-01-05 13:04] NguyenASang commented on #29
@PoomSmart So, we can't find what part of the code is causing that error ?

[2022-01-05 13:08] PoomSmart commented on #29
I'm writing this message to remind of the message I replied here 15 days ago. Bugging in this thread will do no good.

[2022-01-05 13:18] NguyenASang commented on #29
okay 😅

[2022-01-26 14:51] athisun opened #38 "Videos fail to load when Legacy PiP is enabled"
Videos will stay black and show a spinner indefinitely when "Legacy PiP" has been enabled. I had this setting enabled to prevent the playback speed bug.

- YouTube app version 17.03.2
- iPhone 11 Pro, iOS 14.8

[2022-01-26 15:27] PoomSmart commented on #38
Fixed in 1.6.5

[2022-01-26 15:27] #38 closed

[2022-01-27 13:45] NguyenASang opened #39 "Non-backgroundable PiP bug"
My iPhone is iOS 12.5.5 | Jailbreak with Chimera 1.6.4

Install this tweak using Installer version 5.0.3

[2022-03-04 23:47] mip82324 opened #41 "YouPiP makes YouTube crash when trying to play a video."
On iOS 12.5.5, when opening YouTube v17.08.2 or any downgraded version, YouPiP crashes the whole app completely when selecting a video.

[2022-03-04 23:59] mip82324 commented on #41
`<div style="width:100%;height:0px;position:relative;padding-bottom:177.778%;"><iframe src="https://streamable.com/e/sipde3" frameborder="0" width="100%" height="100%" allowfullscreen style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden;"></iframe></div>`

[2022-03-04 23:59] mip82324 commented on #41
https://streamable.com/sipde3

[2022-03-05 01:17] PoomSmart commented on #41
Crash log? @mip82324

[2022-03-05 05:25] mip82324 commented on #41
https://mega.nz/file/S6hFVQCS#1Iu6CdiX7x9-W6eyFceAMe8Ln4TwudC7xDjdJZI_894

[2022-03-05 08:59] PoomSmart commented on #41
@mip82324 And no more crashing if YouPiP is disabled or uninstalled?

[2022-03-05 10:10] qnblackcat opened #42 "Legacy PiP breaks Use PiP button"
## Info
- iOS: 14.8 & 15.1 & 15.3
- Device model: all
- YouTube v17.08.2
- YouPiP: v1.6.6

## How to reproduce:
Simply enable **Legacy PiP** in Settings, now videos will enter PiP mode automatically even when **Use PiP button** is enabled.

[2022-03-05 12:50] mip82324 commented on #41
Yeah I disable it with iCleaner Pro.

[2022-03-05 13:57] PoomSmart commented on #41
The crash log you provided doesn't point any direct causes at YouPiP and I can't seem to reproduce on my iPhone 5s iOS 12.5.5 with that exact YouTube version. 😐

[2022-03-05 14:18] mip82324 commented on #41
Well.. to be honest, it may just be my phone but I'll link a little video understanding, I don't know if this might help but here's a video with YouPiP enabled - https://streamable.com/w9uy7d - and without YouPiP enabled - https://streamable.com/3g2my9
Hope this helps a bit!

[2022-03-06 02:58] PoomSmart commented on #41
@mip82324 Try this version (Unzip first the install the deb using Filza)
[com.ps.youpip_1.6.7_iphoneos-arm.deb.zip](https://github.com/PoomSmart/YouPiP/files/8191868/com.ps.youpip_1.6.7_iphoneos-arm.deb.zip)

[2022-03-06 03:46] NguyenASang opened #43 "Pip button in tab bar doesn't show up"
See in this video:

https://user-images.githubusercontent.com/87893636/156908342-7cd57da2-45ba-4251-a8eb-b7914aa6f889.MP4

[2022-03-06 03:54] NguyenASang commented on #39
Sorry for the delay 😅
See in this video:

https://user-images.githubusercontent.com/87893636/156908496-a83fb3f4-9f62-44d0-91f3-fde2d73b5b23.MP4

Expect behavior: Background Pip won't appear when the video is pausing
Actual behavior: Background Pip still appears even the video is pausing

[2022-03-06 04:03] mip82324 commented on #41
Works perfectly!! but it doesn't continue after I dismiss it, it disappears when you exit the app.

[2022-03-06 04:16] PoomSmart commented on #41
@mip82324 You may want to try installing ForceInPicture or seeing if tapping PiP button on the video overlay works.

[2022-03-06 04:16] #41 closed

[2022-03-06 05:12] NguyenASang commented on #43
@PoomSmart I tried to restart YouTube app after enable that option but it sill doesn't work

[2022-03-07 00:48] NguyenASang commented on #43
## Detail
The **bug** appears since version _**17.x.x**_
My device: iPhone 6 | iOS 12.5.5
Jailbreak: Chimera

[2022-03-07 01:14] PoomSmart commented on #39
This is when non-backgroundable PiP is enabled? If so, that is an expected behavior. The name implies.

[2022-03-07 11:15] NguyenASang commented on #39
@PoomSmart Oh, I'm sorry for this misreport 😅

[2022-03-07 11:16] #39 closed

[2022-03-11 22:36] rakleed opened #44 "Disabling Use PiP Button doesn't work"
Disabling Use PiP Button does not work in YouPiP 1.6.8 - the buttons remain in the player interface. Although there was no such problem in version 1.6.6 and earlier.

<details><summary>Screenshots</summary>

![IMG_2596](https://user-images.githubusercontent.com/19418601/157983728-e6ee70c5-468c-49da-a0ad-dda10666eaa3.jpeg)

![IMG_2597](https://user-images.githubusercontent.com/19418601/157983757-ce

[2022-03-11 22:45] rakleed commented on #44
Sorry, it looks like a problem with Cercube.

[2022-03-11 22:45] #44 closed

[2022-03-25 22:30] dayanch96 opened #45 "YouTube styled YouPiP buttons"
Hi. Edited YouPiP icons for better look on bar under player. Hope it be useful.

ZIP: [YouPiP.bundle.zip](https://github.com/PoomSmart/YouPiP/files/8354141/YouPiP.bundle.zip)
Icons:
![yt-pip-tabbar](https://user-images.githubusercontent.com/38832025/160210402-2e4cbfad-8c6f-4d5f-b16d-2b1c782bb3d0.png)
![yt-pip-tabbar@2x](https://user-images.githubusercontent.com/38832025/160210403-f324e7d2-ff3c-448

[2022-03-26 05:58] PoomSmart commented on #45
Included in 1.6.9

[2022-03-26 05:58] #45 closed

[2022-04-19 14:30] NguyenASang commented on #43
@PoomSmart Any update to fix this ?

[2022-04-19 14:42] qnblackcat commented on #43
@NguyenASang
nếu bạn xem lịch sử Pull Request thì sẽ hiểu PoomSmart không thêm tùy chọn đấy mà là người khác thêm (BandarHL), nên bạn nên liên hệ người đó thì đúng hơn.

Look at the Pull Request, that option was added by BandarHL, you should contact him instead

[2022-05-05 11:53] NguyenASang commented on #43
@PoomSmart Fake the version works, it make the PiP in the bar tab display again. That's a smart way, thank you very much.
But one thing, I don't like the new PIP button very much, can you make it a little thicker ? (Just my opinion, the choice is yours)

[2022-05-05 13:20] NguyenASang commented on #43
Oh wait, the fake version will stop us from getting new stuffs in YT.
I will keep opening it until it is fixed

[2022-05-08 18:04] Insaneous opened #47 "Legacy PiP displays non-toggleable second subtitles."
For some reason when I use Legacy PiP there's subtitles which I can't turn off, if I try to toggle it, it displays another set of subtitles on top of the first ones, which are also smaller. Interestingly, non-toggleable subtitles also carry over to PiP.
https://imgur.com/a/X9A2PNO/
I have iPhone 12 mini on iOS 14.3 and currently use the latest versions of the app and YouPiP, although this bug pers

[2022-05-17 01:19] dayanch96 opened #48 "Can't compile"
Shows error with text pasted below (Lastest PSHeader and YT Headers, ios15 sdk and latest theos, don't know what im doing wrong):

==> Compiling Settings.x (arm64)…
Settings.x:81:9: error: use of undeclared identifier 'kCFCoreFoundationVersionNumber_iOS_15_0'
    if (IS_IOS_BETWEEN_EEX(iOS_14_0, iOS_15_0)) {
        ^
/Users/dan/youpip/../PSHeader/iOSVersions.h:7:152: note: expanded from macro 'IS

[2022-05-17 01:38] PoomSmart commented on #48
What's inside your `$THEOS/vendor/include/version.h` ?

[2022-05-17 01:48] dayanch96 commented on #48
maximum 14.5

[2022-05-17 01:49] dayanch96 commented on #48
should this one work? https://github.com/theos/headers/blob/master/version.h

[2022-05-17 01:53] dayanch96 commented on #48
it worked. tysm for the tip ❤

[2022-05-17 02:03] dayanch96 commented on #48
also is it ok that YTColorPalette.h not imported in Tweak.x?

[2022-05-17 02:21] PoomSmart commented on #48
To update Theos, execute `$THEOS/bin/update-theos`.

[2022-05-17 02:22] PoomSmart commented on #48
Why should it not be?

[2022-05-17 02:22] PoomSmart commented on #48
To update Theos, execute `$THEOS/bin/update-theos`.

[2022-05-17 11:59] dayanch96 commented on #48
my bad, used `$THEOS/update`

[2022-05-17 12:00] dayanch96 commented on #48
theos keep showing another error:
Tweak.x:154:9: error: use of undeclared identifier 'YTColorPalette'
        YTColorPalette *colorPalette = [_logos_static_class_lookup$YTPageStyleController() currentColorPalette];

as i understand its not YouPiP issue

[2022-05-17 12:48] PoomSmart commented on #48
I see. My bad. Fixed in the latest commit of YouPiP.

[2022-05-17 12:48] #48 closed

[2022-06-05 08:16] PoomSmart commented on #47
@Insaneous Any examples videos with that issue?

[2022-06-26 03:57] qnblackcat opened #54 "PiP window crash if the video is previewed before playing (PiP button)"
### Info:
- iOS version: 14.8 (jailbroken with checkra1n/Substitute), 15.x (non jailbroken).
- Device model: all
- Version of YouPiP: 1.7.5
- Version of YouTube: 17.24.4
- **Use PiP Button** is enabled, **Legacy PiP** is disabled

### Step to reproduce the bug:
1. Enable **Use PiP button** in YouPiP.
2. Enable video preview in YouTube's setting > General > **Playback in feeds**
3. Preview any vide

[2022-06-26 13:01] PoomSmart commented on #54
Hopefully fixed as of 7db6321a2824756f1ef4163ff3f90b7dfe8168af

[2022-06-26 13:01] #54 closed

[2022-06-29 03:52] arichorn opened #55 "Fake YouTube Version 16.46.5 hides video controls (YouPiP+YouTubeHeader)"
Youpip has a great feature called fake YouTube version but right now if you use the YouTubeHeader Tweak with ColorCommonPalette then it will completely hide the controls of the video player except YTSpeed toggle.
![4D79AE1A-5BB3-43EF-977E-E1087C8BCA05](https://user-images.githubusercontent.com/78001398/176347645-86a39a66-d95f-4485-8455-23018b1ecb26.jpeg)

[2022-06-29 12:35] PoomSmart commented on #55
@arichorn Does YouPiP version 1.7.7 fix this?

[2022-06-29 22:47] arichorn commented on #55
Yep it’s been fixed!
I used YouTubeHeader’s color customization and it’s showing all of the overflow options with fake YouTube version now!
![98B3DA14-EA3B-413B-ADA5-023FFE8B9419](https://user-images.githubusercontent.com/78001398/176558265-c132734e-97ad-495e-9155-3d0463b70615.jpeg)
Alternative color
![2DFDC638-9BFB-442F-A0F5-CB0ECD4FA725](https://user-images.githubusercontent.com/78001398/1765582

[2022-06-30 20:22] arichorn commented on #55
Also PoomSmart it did create a new bug that might be annoying. You did a good job fixing it perfectly but using fake YouTube version will force-enable YouPiP Button even if it’s toggled off.
sorry for pointing that out but I usally let pip play without needing to press it.

[2022-07-01 00:13] PoomSmart commented on #55
@arichorn I don't quite get that. Screenshot maybe?

[2022-07-01 02:25] arichorn commented on #55
The images were above but here’s a screenshot of my settings
![5711D98E-06CF-4969-91D5-036CBA67CD78](https://user-images.githubusercontent.com/78001398/176811094-ac6c658b-d08e-45e7-94be-c1830903d4f7.jpeg)
I had YouPiP disabled. I had no idea why it’s enabled in the video overflow

[2022-07-01 13:10] PoomSmart commented on #55
@arichorn If the first two options are not enabled, there's no way the PiP button would show on the video overlay, with Fake YouTube version on or not. Have you installed other tweaks that might interfere with how PiP works?

Also, I replicated your YouPiP settings on my iPad. The bug did not happen.

[2022-07-01 23:08] arichorn commented on #55
Oh. Sorry then they had similar names. Im just gonna guess it’s a uYou Bug.

[2022-07-03 07:13] PoomSmart commented on #47
Closed due to inactivity.

[2022-07-03 07:13] #47 closed

[2022-07-19 18:44] dayanch96 opened #59 "Compiling errors (again)"
Hi. Getting errors like this. What am I doing wrong? :(

In file included from Tweak.x:2:
In file included from /Users/dan/youpip/Header.h:4:
/Users/user/youpip/AVKit-Header.h:13:30: error: unknown type name 'AVPictureInPictureControllerContentSource'; did you mean 'AVPictureInPictureController'?
@property(nonatomic, retain) AVPictureInPictureControllerContentSource *contentSource API_AVAILABLE(io

[2022-07-19 23:52] PoomSmart commented on #59
Use iOS 15 SDK

[2022-07-20 22:58] dayanch96 commented on #59
Problem was on freshly installed xcode.

in xcode > preferences > locations > command line tools were not selected by default. selected it manually and it worked. thank you for your help

[2022-07-20 22:58] #59 closed

[2022-08-13 09:09] SeanTheGleaming opened #64 "Background audio playback always occurs, even when PiP is not active"
When you exit the Youtube app while a video is playing, then background audio playback will be playing whether or not PiP is also playing. I troubleshooted with choicy to determine that this issue is in fact caused by YouPiP entirely independently of other tweaks.

I think that the background playback should be off by default in this tweak, but a toggle could be nice.

[2022-08-13 12:25] PoomSmart commented on #64
PiP requires background playback. YouPiP enables PiP and expects background playback to already function. In what real-world cases do you not want background playback?

[2022-08-15 04:14] SeanTheGleaming commented on #64
I often will leave the YouTube app to do something else, not planning on
the video I'm watching to continue in background playback. This can often
happen when I'm following an instructional video on youtube, when I could
exit an app to follow along with the video and being able to return to the
youtube app where I left off. I also sometimes just want to quickly exit
the app of put my phone to slee

[2022-08-27 08:36] MoroboshiKirari opened #65 "translate korean"
I am reporting that there is a part that is not translated into Korean. I hope you will accept this idea.

< Setting -> General >

Enable vote submission -> 투표 제출 사용

Allow your unique anonymous ID and videos/shorts likes/ dislikes data to be submitted to returnyoutubedislikeapi.com

-> 당신의 익명 ID 및 동영상/쇼츠 좋아요/싫어요 관련 데이터를 returnyoutubedislikeapi.com에 제출하는 것을 허용합니다.

< YouPiP >

Use PiP Button > PiP

[2022-08-28 00:18] arichorn opened #66 "Unable to Add Another Comment/Reply using Fake YouTube Version"
Hey PoomSmart! Here’s my second bug I’ve found while using Fake YouTube Version on latest version of YouTube
![51F44F13-7EE1-4B24-AF84-4CE68F7BA760](https://user-images.githubusercontent.com/78001398/187052301-f83e3233-8586-49c6-a5a7-f931bc6a1895.jpeg)
This image shows that the YouTube Fake Version is causing users like me to not be able to add a comment or reply to something and unfortunately the

[2022-08-31 22:46] arichorn commented on #66
Okay I’m guessing this is inactive, ehh it’s okay. That’s Probably saying that it wasn’t caused by this, since I don’t want to jailbreak any of my devices I’ll see the cause and get an update about if I ever do

[2022-08-31 22:46] #66 closed

[2022-09-17 04:47] PoomSmart commented on #65
394bc2f97b8c1db40c044eb20e4c4d43410efcc9

[2022-09-17 04:47] #65 closed

[2022-09-26 19:31] JackPlaysGames0510 opened #69 "Time bar"
on ios 16 when you activate the pip the time bar is not the same as the video

[2022-09-28 17:42] MarioMastr commented on #69
iOS 16.1 db3 fixed this

[2022-09-28 23:55] PoomSmart commented on #69
Closed as this is iOS bug.

[2022-09-28 23:55] #69 closed

[2022-10-17 22:19] arichorn opened #76 "YouPiP crashes when using YT 17.41.2-Newer"
## YouPiP
YouPiP was working fine on v17.40.5 but I am gonna guess that YouTube changed something as usual.

## Crash Log
[YouTube-2022-10-17-171448.txt](https://github.com/PoomSmart/YouPiP/files/9804910/YouTube-2022-10-17-171448.txt)

[2022-10-18 01:25] PoomSmart commented on #76
Fixed.

[2022-10-18 01:25] #76 closed

[2022-10-18 01:26] arichorn commented on #76
thanks! Glad I letted you know ☝️💖

[2022-11-17 01:57] arichorn opened #80 "Fake YouTube Version doesn’t work correctly"
Came here to remind you that Fake YouTube Version doesn’t work with the current version of YouTube.
Right now of using it, Fake YouTube Version doesn’t effect the UI, Version Number & anything else that it worked with. If there’s no fix then it’s alright. 👍

[2022-11-30 19:32] AndnixSH opened #82 "Display subtitle in PiP"
Can you support displaying subtitle in PiP? PiP support it natively and other apps are taking adventage of it as seen below

![060A8E68-1122-4AA2-BC76-B8F52B23365C](https://user-images.githubusercontent.com/40742924/204891178-2255266a-e8a4-4906-aef8-21364fbd8537.jpeg)